[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pyyaml = "*"
pytest = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
dsb = {editable = true, path = "."}
rope = "*"

[requires]
python_version = "3"
