html {
  font-family: sans
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart-container {
  position: relative;
  width: 500px !important;
  border: 1px solid gray;
  padding: 0.5em;
  margin: 1em;
}

.scalar-container {
  width: 500px;
  border: 1px solid gray;
  padding: 0.5em;
  margin: 1em;
}

.scalar-value {
  font-family: monospace;
}

pre {
  margin: 0;
}
