#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart-container {
  width: 500px !important;
  border: 1px solid gray;
  padding: 1em;
  margin: 1em;
  position: relative;
}

.scalar-container {
  width: 500px;
  border: 1px solid gray;
  padding: 1em;
  margin: 1em;
}
