<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./assets/logo.png') }}"/>
  <title>{{ hostname }} | Zoidboard</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
</head>
<body>
  <div id="root"></div>
  <script src="{{ url_for('static', filename='./bundle.js') }}"></script>
</body>
</html>
